* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    padding: 30px;
    background-color: #E6E6FA;
}

.container {
    width: 900px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px 18px;
    margin: 5px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

nav a:hover {
    background: #0056b3;
}

form {
    width: 400px;
    margin: auto;
}

input[type="number"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
	width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e7e34;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background: #343a40;
    color: white;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

.action a {
    text-decoration: none;
    padding: 6px 10px;
    background: red;
    color: white;
    border-radius: 4px;
}

.action a:hover {
    background: darkred;
}

.action a:first-child {
    background: #17a2b8;
}

.action a:first-child:hover {
    background: #117a8b;
}



